# (연습) 프로그래밍 맛보기

**주의 사항**

* 기존에 작성된 코드 셀과 텍스트 셀은 수정하지 않는다.
* 필요한 경우 코드 셀 또는 텍스트 셀을 추가해서 사용한다.
* 실습 파일을 제출할 때 구글 드라이브의 링크를 이용하여 누구나 공유할 수 있도록 설정한다.

**문제 1**

아래 명령문들을 실행해서 오류가 발생하는 경우 오류의 종류와 원인을 설명하고 수정하라.
오류가 발생하지 않으면 실행 결과를 설명한다.

(1)

In [ ]:
print("Hello World)

In [27]:
# 코드를 작성한다.
print("Hello World")

Hello World

구문오류, 따옴표를 닫지 않았다.

(2)

In [ ]:
print(21 8)

In [28]:
# 코드를 작성한다.
print(21, 8)

21 8

두 개 이상의 값을 동시에 출력하려면 쉼표를 써야 한다. 구문오류

(3)

In [ ]:
print(2++2)

In [29]:
# 코드를 작성한다.
print(2+2)

4

모르겠다.

**문제 2**

변수 할당 명령문과 관련하여 주의해야할 점들을 다룬다. 아래 명령문들을 실행해서 오류가 발생하는 경우 오류의 종류와 원인을 설명하고 수정한다.

(1)

In [30]:
x = 2;

In [31]:
# 코드를 작성한다.
x=2

모르겠다.

(2)

In [ ]:
z = x y

In [33]:
# 코드를 작성한다.
y=3
z=x*y

변수 xy가 뭔지 선언하지 않았다. 곱하기를 하려던 걸까? 그랬더라도 선언되지 않은 변수 y가 사용됐으므로 이름오류이다.

(3)

In [35]:
even = 3
odd = 17
print(even + oddd)

NameError: name 'oddd' is not defined

In [34]:
# 코드를 작성한다.
even=3
odd=17
print(even+odd)

20

아마 odd를 oddd로 잘못 친 것 같다. 이름오류.

(4)

In [36]:
x = 3
zero = 0

print(x/zero)

ZeroDivisionError: division by zero

In [37]:
# 코드를 작성한다.
x=3
zero=0
print(x/(zero+1))

3.0

0나누기 오류? 원래 0으로 나누진 않으니까?

**문제 3**

언급된 값을 표현하는 수식을 표현한 다음에 실행하라.

(1) 정수 13에서 정수 19 빼기

힌트: 뺄셈 연산자를 활용한다.

In [38]:
# 코드를 작성한다.
13-19

-6

(2) 정수 81을 정수 3으로 나누기

힌트: 나눗셈 연산자를 활용한다.

In [39]:
# 코드를 작성한다.
81/3

27.0

(3) 정수 100을 정수 7로 나눈 나머지

힌트: 나머지 연산자를 활용한다.

In [40]:
# 코드를 작성한다.
100%7

2

(4) 정수 7.2의 세제곱

힌트: 거듭제곱 연산자를 활용한다.

In [41]:
# 코드를 작성한다.
7.2**3

373.24800000000005

**문제 4**

먼저 아래와 같이 두 개의 변수를 선언한다.

In [42]:
width = 17
height = 12.0

언급된 값을 표현하는 수식을 두 변수를 이용하여 표현한 다음에 실행하여라.

(1) width를 2로 나눗 몫

In [43]:
# 코드를 작성한다.
width//2

8

(2) width 나누기 2

In [44]:
# 코드를 작성한다.
width/2

8.5

(3) width 나누기 2.0

In [45]:
# 코드를 작성한다.
width/2.0

8.5

(4) height 나누기 3

In [46]:
# 코드를 작성한다.
height/3

4.0

(5) 2 곱하기 5에 1 더하기

In [47]:
# 코드를 작성한다.
2*5+1

11

(6) 2 곱하기 5에 1.0 더하기

In [48]:
# 코드를 작성한다.
2*5+1.0

11.0

**문제 5**

오전 6시 52분에 집을 떠나서, 가볍게 (km당 8분 15초 소요) 1km를 뛰고,
이어서 좀 빠르게 (km당 7분 12초 소요) 3km를 뛴 후, 다시 가볍게 1km를 마저 달려 집으로 돌아오면
집에 도착하는 시간을 계산하여 아래처럼 출력하는 코드를 작성하라.

    집에 도착 시간: 7 시 30 분 6 초

힌트: 정수 나눗셈의 몫과 나머지 연산자 활용

In [55]:
# 코드를 작성한다.
x=6
y=52
z=0
z=z+(1*15)+(3*12)+(1*15)
y=y+(1*8)+(3*7)+(1*8)+z//60
x=x+y//60
z=z%60
y=y%60
print("집에 도착 시간:", x, "시", y, "분", z, "초")

집에 도착 시간: 7 시 30 분 6 초